<div class="container" id="home">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
        <h2>enter your search criteria to begin</h2>
    </div>
  </div>
  <div class="row">
    <div class="well-sm col-sm-6 col-sm-offset-1">
      <div class="input-group">
        <input id="searchterm" type="text" class="form-control">
        <span class="input-group-btn">
          <button id="search" class="btn btn-info" type="button">Search</button>
        </span>
      </div>    
    </div>
    <div class="well-sm col-sm-2 col-sm-offset-1">{{./size}} people in index</div>
  </div>
  <div id="results" class="container well-lg">

  </div>
</div>