<div class="container" id="home">
  <div class="row">
    <div class="well-sm col-sm-6 col-sm-offset-1">
      <div class="input-group">
        <input id="searchterm" type="search" autofocus placeholder="last name, first name, date of birth, phone number" class="form-control">
        <span class="input-group-btn">
          <a href="#openModal" class="btn btn-info">Add</a>
        </span>
      </div>    
    </div>
    <div class="well-sm col-sm-1"><abbr title="Index Size"><span class="badge" id="idxSize">{{./size}}</span></abbr></div>
    {{> addperson}}
  </div>
  <div class="row">
    <div class="well-sm col-sm-6 col-sm-offset-1">
      <div class="alert-success" id="resultSize"></div>
    </div>
  </div>
  <div id="results" class="row well-lg">

  </div>
</div>